@charset "UTF-8";

* {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}

body {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 1em;
   background-color: lightgray;
   height: 100vh;    /* para ocupar a tela inteira */
   width: 100vw;    /* para ocupar a tela inteira */
}

header {
    background-color:gray;
    color: white;
    padding: 10px;

    display: flex;
    flex-flow: row wrap;  /* Vai quebrar*/
    justify-content: space-between;  /*deixar  a nav do lado direito */
    align-items: center;  /* alinhamento centralizado no eixo transversal */
}

header > h1 {
    /*border: 1px dotted black;*/  /*borda pontilhada*/
    flex: 0 0 200px; /* Não vai crescer nem encolher fica fixo com tamanho de 200px */
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.404);
}

header > nav {  /* É um item qua tambem émum conteiner detro do outro que vai controlar os itens*/
    /*border: 1px dotted black;*/

    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end; /* Ficar colado do lado direito */
}

header > nav a {
    background-color: black;
    color: white;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}

header > nav a:hover {
    background-color: white;
    color: black;
    transition: 5.s;

}

main {
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.336);
}

